*{
    margin: 0;
    padding: 0;
    background: black;
    
}
.btn-text{
    font-size: 50px;
    font-weight: 20px;
   
    display: flex;
    position: relative;
   align-items: center;
    padding-top: 10px;
    /* color: rgb(255, 210, 196); */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
}
header{
    height: 800px;
    max-height: 100%;
    background: black;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
}
.header__list{
    gap: 8px;
    align-items: center;
   /* padding-right: 10px; */
}
.header__home{
    font-size: 26px;
    gap: 7px;
    padding-left: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    transition: 500ms;
   
}
.header__home:hover{
    color: black;
    background: white;
    
}

.fa-brands{
    color: white;
}
 .fa-globe{
    color: white;
   
}
/*
.fa-globe:hover{
    color: black;
    background: white;
} */
.header__main{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
   
}
.main__info{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    width: 50%;
    align-items: center;
    
    padding-left: 10px;
}
.main__info-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}
.main__info-text{
    display: flex;
    padding-top: 20px;
    font-size: 30px ;
    justify-content: center;
    /* max-width: 600px; */
    width: 600px;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* padding-left: 100px; */
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.main__photo1{
    
   
    width: 640px;
    height: 500px;
    border-radius: 20px;
   /* padding-right: 20px; */
   float: 20px;
    height: auto;
    padding-left: 50px; 
  
}

@media(max-width: 1400px){
    .main__photo1{
        width: 600px;
        height: 450px;
        height: auto;
        padding-left: 15px;
        border-radius: 40px;
    }
}
@media(max-width: 1266px){
    .main__photo1{
        width: 510px;
        height: 450px;
        height: auto;
        padding-left: 20px;
        border-radius: 50px;
    }
    .main__info-text{
        letter-spacing: none;
    }
    .header{
        height: 660px;
    }
}
@media(max-width: 1175px){
    .main__photo1{

        width: 480px;
        height: 450px;
        height: auto;
        padding-left: 20px;
        border-radius: 50px;
        margin-bottom: 10px;
    }
    .header{
        height: 600px;
    }
}
@media(max-width: 1152px){
    .header__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: black;
        gap: 17px;
    }
    .main__info-text{
        max-width: 1000px;
        letter-spacing: 1px;
    }
}
@media(max-width: 620px){
    .main__info-title{
        font-size: 40px;
    }
    .main__info-text{
        width: 450px;
        font-size: 25px;
    }
    .main__photo1{
        width: 400px;
        margin-bottom: 10px;
    }
    .nav-main{
        /* display: flex;
        flex-direction: column; */
        gap: 5px;
        padding: 8px 5px;
        align-items: center;
    }
    .header__home{
        font-size: 22px;
    }
    .btn-text{
        font-size: 35px;
    }
    .btn-text img{
        width: 40px;
    }
}
@media(max-width: 650px){
    .nav-main{
      
        gap: 5px;
        padding: 8px 5px;
        align-items: center;
    }
    .header__home{
        font-size: 25px;
    }
    .btn-text{
        font-size: 38px;
    }
    .btn-text img{
        width: 120px;
    }
    .nav-main{
        padding-bottom: 15px
    }
}
@media(max-width: 565px){
    .header__home{
        font-size: 21px;
    }
    .btn-text{
        font-size: 34px;
    }
    .btn-text img{
        width: 110px;
    }
}
@media(max-width: 530px){
.main__info-text{
    font-size: 20px;
    width: 500px;

}
.main__photo1{
    width: 350px;
    height: 350px;
}
.nav-main{
    padding-bottom: 10px;
}
}
@media(max-width: 517px){
    .main__info-text{
       font-size: 20px;
       width: 400px;
    }
    .main__photo1{
        width: 350px;
        height: 350px;
    }
    .main__info-title{
        font-size: 30px;
    }
    /* .btn-text{
        font-size: 40px;
    } */
    .btn-text img{
        width: 100px;
    }
    /* .header__home{
        font-size: 22px;
       
    } */
    .header__list{
        padding-top: 15px;
    }
}
@media(max-width: 414px){
    .main__info-text{
        font-size: 18px;
        width: 300px;
     }
     .main__photo1{
        width: 260px;
        height: 260px;
        /* height: auto; */
        margin: auto;
     }
     .main__info-title{
        font-size: 25px;
     }
     /* .header__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
     } */
     /* .header__home{
        font-size: 15px;
     } */
}
@media(max-width: 490px){
    .header__home{
        font-size: 18px;
    }
    .btn-text{
        font-size: 30px;
    }
    .btn-text img{
       width: 100px;
    }
}
@media(max-width: 416px){
    .header__home{
        font-size: 17px;
        /* display: flex;
        padding: 0px;
        padding-right: 20px; */
    }
    /* .header__list{
        display: flex;
        justify-content: space-between;
        
       
    } */
    .btn-text{
        font-size: 30px;
    }
}
@media(max-width: 393px){
    .header__list{
        display: flex;
        flex-direction: column;
        font-size: 17px;
      
    }
    .header__home{
        font-size: 17px;
        padding-right: 6px;
    }
}